{% extends "layout.html" %}
{% block style %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap" rel="stylesheet">
<style>
.w3-btn {width:150px;}
.w3-container {width:500px;}
.w3-card-4 {width:500px; margin-left: 500px; margin-top: 225px;}
.w3-bncontainer{margin-left: 380px;}
h2{font-family: 'Mitr', sans-serif;}
</style>
{% endblock %}
{% block body %}
<div class="w3-card-4 ">
  <div class="w3-container w3-blue ">
    <h2>Login ลงทะเบียนเรียน</h2>
  </div>
       <form class="w3-container" action="{% url 'login_view' %}" method="post">
        {% csrf_token %}
        <div style= "color: red; font-size : 20px;">{{message}}</div>
        <label for="username" class="w3-text-brown">Username: </label><br>
        <input class="w3-input w3-border w3-sand" type="text" name="username"><br>
        <label class="w3-text-brown" for="password">Password: </label><br>
        <input  class="w3-input w3-border w3-sand" type="password" name="password"><br>
        <div class="w3-bncontainer">
        <p><button class="w3-button w3-blue w3-round-large">Login</button></p>
        </div>
    </form>
    <br></div>
</div>
{% endblock %}